.header {
     text-decoration:underline green
}
body {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
img {
    width: 700px;
}
.answerbutton {
background-color: white;
width: 700px;
padding: 10px 10px;
border-color: lightgrey;
cursor: pointer;
}