.header {
     text-decoration:underline green
}
body {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
img {
    width: 700px;
}
li{
    list-style-type: none;
    font-weight: bold;
    font-size: large;
    text-align: left;
}

.answerbutton {
background-color: white;
width: 700px;
padding: 10px 10px;
border-color: lightgrey;
border-width: 1px;
cursor: pointer;
}